


@* slider *@
<div class="container-fluid p-0 m-0" >
	<div class="carousel slide p-0 m-0" 
		 id="carouselDemo"
		 data-bs-wrap="true"
		 data-bs-ride="carousel">
		<div class="carousel-inner " style="max-height:400px">

			<div class="carousel-item active" style="max-height: 400px;">
				<img src="~/images/silder_home.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Robin</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>
				
		</div>
	
	</div>
</div>
@*  4 card  *@
<div class="container my-5">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">

		<!-- Card 1 -->
		<div class="col d-flex justify-content-center">
			<div class="card">
				<div class="position-relative">
					<img src="images/jokerandladygaga.jpg" class="card-img-top" alt="Joker: Folie à Deux">
					<div class="img-overlay"></div>
				</div>
				<div class="card-body text-center">
					<h6 class="text-muted">JOKER: FOLIE À DEUX</h6>
					<h3 class="card-title">NOW PLAYING ONLY IN THEATERS</h3>
					<a href="#" class="btn btn-outline-dark">GET TICKETS & SHOWTIMES</a>
				</div>
			</div>
		</div>

		<!-- Additional cards for demonstration -->
		<div class="col d-flex justify-content-center">
			<div class="card">
				<div class="position-relative">
					<img src="images/jokerandladygaga.jpg" class="card-img-top" alt="Joker: Folie à Deux">
					<div class="img-overlay"></div>
				</div>
				<div class="card-body text-center">
					<h6 class="text-muted">DC SHOP</h6>
					<h3 class="card-title">SHOP NOW</h3>
					<a href="#" class="btn btn-outline-dark">GET TICKETS & SHOWTIMES</a>
				</div>
			</div>
		</div>

		<div class="col d-flex justify-content-center">
			<div class="card">
				<div class="position-relative">
					<img src="images/jokerandladygaga.jpg" class="card-img-top" alt="Joker: Folie à Deux">
					<div class="img-overlay"></div>
				</div>
				<div class="card-body text-center">
					<h6 class="text-muted">DC COMIC</h6>
					<h3 class="card-title">IT ALL BIGINS HERE</h3>
					<a href="#" class="btn btn-outline-dark">GET TICKETS & SHOWTIMES</a>
				</div>
			</div>
		</div>

		<div class="col d-flex justify-content-center">
			<div class="card">
				<div class="position-relative">
					<img src="images/jokerandladygaga.jpg" class="card-img-top" alt="Joker: Folie à Deux">
					<div class="img-overlay"></div>
				</div>
				<div class="card-body text-center">
					<h6 class="text-muted">MOVIE & TV</h6>
					<h3 class="card-title">NOW PLAYING ONLY IN THEATERS</h3>
					<a href="#" class="btn btn-outline-dark">WATCH NOW</a>
				</div>
			</div>
		</div>

	</div>
</div>

@* main video*@
<div class="container my-5 pt-5">
	<div class="row align-items-center">
		<!-- Video Section -->
		<div class="col-md-7">
			<div class="ratio ratio-16x9">
				<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
			</div>
		</div>

		<!-- Video Details Section -->
		<div class="col-md-5 mt-3 textVideo d-flex align-items-center">
			<div>
				<!-- Bọc nội dung văn bản trong một div để căn giữa theo chiều dọc -->
				<h4 class="text-uppercase text-muted">FEATURED VIDEO</h4>
				<h3 >CREATURE COMMANDOS – OFFICIAL TRAILER</h3>
				<p>You wanted monsters? You got motherf*ckin' monsters.</p>
				<p>From James Gunn, comes the new DC Studios and Max Original Series <em>Creature Commandos</em>. Streaming December 5th, exclusively on Max.</p>
			</div>
		</div>
	</div>
</div>

@*  sub video *@
<div class="container my-5">
	<div class="text-center mb-4">
		<h1 class="heading">LATEST DC TRAILERS, CLIPS & MORE</h1>
	</div>
	<div class="submenu">
		<div class="container swiper">
			<div class="card-wrapper">
				<ul class="card-list swiper-wrapper">
					<li class="card-item swiper-slide">
						<a href="" class="card-link">
							<div class="ratio ratio-16x9">
								<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
							</div>
							<h3 class="card-title"> OFFICAL TRAILER </h3>
							<h1 class="card-content">Batman Ninja vs. Yakuza League</h1>

						</a>
					</li>
					<li class="card-item swiper-slide">
						<a href="" class="card-link">
							<div class="ratio ratio-16x9">
								<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
							</div>
							<h3 class="card-title"> OFFICAL TRAILER </h3>
							<h1 class="card-content">Batman Ninja vs. Yakuza League</h1>

						</a>
					</li>
					<li class="card-item swiper-slide">
						<a href="" class="card-link">
							<div class="ratio ratio-16x9">
								<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
							</div>
							<h3 class="card-title"> OFFICAL TRAILER </h3>
							<h1 class="card-content">Batman Ninja vs. Yakuza League</h1>

						</a>
					</li>
					<li class="card-item swiper-slide">
						<a href="" class="card-link">
							<div class="ratio ratio-16x9">
								<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
							</div>
							<h3 class="card-title"> OFFICAL TRAILER </h3>
							<h1 class="card-content">Batman Ninja vs. Yakuza League</h1>

						</a>
					</li>
					<li class="card-item swiper-slide">
						<a href="" class="card-link">
							<div class="ratio ratio-16x9">
								<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
							</div>
							<h3 class="card-title"> OFFICAL TRAILER </h3>
							<h1 class="card-content">Batman Ninja vs. Yakuza League</h1>

						</a>
					</li>
					<li class="card-item swiper-slide">
						<a href="" class="card-link">
							<div class="ratio ratio-16x9">
								<iframe src="https://www.youtube.com/embed/VdahDEpqPA8" title="Creature Commandos Trailer" allowfullscreen></iframe>
							</div>
							<h3 class="card-title"> OFFICAL TRAILER </h3>
							<h1 class="card-content">Batman Ninja vs. Yakuza League</h1>

						</a>
					</li>
				</ul>
				<div class="swiper-pagination"></div>
				<div class="swiper-slide-button swiper-button-prev"></div>
				<div class="swiper-slide-button swiper-button-next"></div>
			</div>
		</div>
	</div>
</div>

@* read dc free *@
<div class="container">
	<div class=" d-flex flex-wrap  justify-content-between align-items-center mb-4">
		<h1 class="heading">READ FOR FREE WITH REGISTRATION</h1>
		<a style="white-space: normal;" href="#" class="w-25 btn btn-outline-dark">FREE REGISTRATION</a>
	</div>
	<div class="text-center">
		<!-- Nội dung bên dưới không bị chia đều -->
		<div class="submenu">
			<div class="container swiper ">
				<div class="card-wrapper card-wrapper-5">
					<ul class="card-list swiper-wrapper">
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/greenlartan.jpg" alt="" class="card-image1">							
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/greenlartan.jpg" alt="" class="card-image1">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/greenlartan.jpg" alt="" class="card-image1">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/greenlartan.jpg" alt="" class="card-image1">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/greenlartan.jpg" alt="" class="card-image1">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/greenlartan.jpg" alt="" class="card-image1">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
					</ul>
					<div class="swiper-pagination"></div>
					<div class="swiper-slide-button swiper-button-prev"></div>
					<div class="swiper-slide-button swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div>
</div>

@* silder character *@
<div class="container-fluid m-0 p-0">
	<div class="carousel slide"
		 id="carouselDemo"
		 data-bs-wrap="true"
		 data-bs-ride="carousel">
		<div class="carousel-inner" style="max-height:400px">

			<div class="carousel-item active" style="max-height: 400px;">
				<img src="~/images/thumb-1920-1148436.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Robin</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>

			<div class="carousel-item " style="max-height: 400px;">
				<img src="~/images/Cassandra.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Cassandra Cain</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>
			<div class="carousel-item " style="max-height: 400px;">
				<img src="~/images/thumb-1920-1148436.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Cassandra Cain</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>


		</div>

		<button class="carousel-control-prev"
				type="button"
				data-bs-target="#carouselDemo"
				data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</button>

		<button class="carousel-control-next"
				type="button"
				data-bs-target="#carouselDemo"
				data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>
</div>
@* news *@
<div class="container mt-5">
	<div class=" d-flex flex-wrap  justify-content-between align-items-center mb-4">
		<h1 class="heading">NEWS FROM AROUND THE MULTIVERSE</h1>
		<a style="white-space: normal;" href="#" class="w-25 btn btn-outline-dark">MORE DC NEWS</a>
	</div>
	<div class="text-center">
		<!-- Nội dung bên dưới không bị chia đều -->
		<div class="submenu">
			<div class="container swiper ">
				<div class="card-wrapper card-wrapper-3">
					<ul class="card-list swiper-wrapper">
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/thumbail_1.jpg" alt="" class="card-image">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/thumbail_1.jpg" alt="" class="card-image">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/thumbail_1.jpg" alt="" class="card-image">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/thumbail_1.jpg" alt="" class="card-image">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/thumbail_1.jpg" alt="" class="card-image">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
						<li class="card-item swiper-slide">
							<a href="" class="card-link except">
								<img src="images/thumbail_1.jpg" alt="" class="card-image">
								<h1 class="card-content except ">batman:in darkest knight #1</h1>

							</a>
						</li>
					</ul>
					<div class="swiper-pagination"></div>
					<div class="swiper-slide-button swiper-button-prev"></div>
					<div class="swiper-slide-button swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div>
</div>

@* img lastest *@
<div class="container-fluid p-0 m-0">
	<div class="carousel slide"
		 id="carouselDemo"
		 data-bs-wrap="true"
		 data-bs-ride="carousel">
		<div class="carousel-inner" style="max-height:400px">

			<div class="carousel-item active" style="max-height: 400px;">
				<img src="~/images/silder_home.jpg" class="w-100" style="object-fit: cover;">
				<div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
					<h2 class="display-5 fw-bold text-uppercase">Robin</h2>
					<p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
					<a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
				</div>
			</div>

		</div>
	</div>
</div>


<link href="~/js/character.js">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/js/slider.js"></script>








@* <div class="category-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
					<li><a href="#blazers" data-toggle="tab">Blazers</a></li>
					<li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
					<li><a href="#kids" data-toggle="tab">Kids</a></li>
					<li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="tshirt">
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="blazers">
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="sunglass">
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="kids">
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="poloshirt">
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery2.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery4.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery3.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="images/home/gallery1.jpg" alt="" />
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/category-tab-->

		<div class="recommended_items">
			<!--recommended_items-->
			<h2 class="title text-center">recommended items</h2>

			<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/recommend1.jpg" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/recommend2.jpg" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/recommend3.jpg" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/recommend1.jpg" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/recommend2.jpg" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="images/home/recommend3.jpg" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div><!--/recommended_items--> *@