<div class="mb-4">
    <input style=" font-size: 1.5rem;" type="text" id="searchKeyword" class="form-control" placeholder="Filter by Keyword" aria-label="Filter by Keyword">
</div>

<!-- Alignment Filter -->
<div>
    <div class="filter-header" data-bs-toggle="collapse" href="#alignmentFilters" role="button" aria-expanded="false" aria-controls="alignmentFilters">
        <h5 class="m-0 ">ALIGNMENT</h5>
        <span class="fs-5 toggle-icon">+</span> <!-- Icon for toggling -->
    </div>
    <div class="collapse" id="alignmentFilters">
        <div class="form-check custom-label">
            <input class="form-check-input filter-checkbox" type="checkbox" id="heroes" value="Heroes">
            <label class=" form-check-label custom-label " for="heroes">Heroes</label>
        </div>
        <div class="form-check custom-label">
            <input class="form-check-input filter-checkbox" type="checkbox" id="villains" value="Villains">
            <label class="form-check-label custom-label" for="villains">Villains</label>
        </div>
    </div>
</div>

<!-- Type Filter -->
<div class="mt-4">
    <div class="filter-header" data-bs-toggle="collapse" href="#typeFilters" role="button" aria-expanded="false" aria-controls="typeFilters">
        <h5 class="m-0">TYPE</h5>
        <span class="fs-5 toggle-icon">+</span> <!-- Icon for toggling -->
    </div>
    <div class="collapse" id="typeFilters">
        <div class="form-check custom-label">
            <input class="form-check-input filter-checkbox" type="checkbox" id="individuals" value="Individuals">
            <label class="form-check-label custom-label " for="individuals">Individuals</label>
        </div>
        <div class="form-check custom-label">
            <input class="form-check-input filter-checkbox" type="checkbox" id="teams" value="Teams">
            <label class="form-check-label custom-label" for="teams">Teams</label>
        </div>
    </div>
</div>
