@model int
<div class="container d-flex justify-content-center align-items-center pt-4" style="height: 100vh;">
    <div class="text-center">
        <h1 class="text-primary">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="~/images/background/bgOrder.jpg" width="65%" />
        <div style="color:maroon; margin-top: 20px;">
            Your order has been placed successfully! <br />
        </div>
    </div>
</div>
