<style>

    .img-detail-character {

        width: 100%;
        max-height:500px;
  

    }


    .main-text-detail-character {
        font-size: 1.4rem;
        font-weight:500;

    }


    .sub-text-detail-character {
        font-size: 1.4rem;
        background-color: #f5f5f5;
        padding: 30px;
        font-weight: 500;
    }


        .sub-text-detail-character dt {

            font-weight: bold;

        }

</style>




<div class="container-fuild my-1">
  <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/superman2.jpg" alt="Superman Image" class="img-detail-character">
            </div>
            <div class="col-md-7">
                <h1 class="heading" style="font-size:4rem !important">SUPERMAN</h1>
                <br><br>
                <p class="main-text-detail-character">
                    Faster than a speeding bullet, more powerful than a locomotive... The Man of Steel fights a never-ending battle for truth, justice, and the American way.
                    <br><br>
                    From his blue uniform to his flowing red cape to the "S" shield on his chest, Superman is one of the most immediately recognizable and beloved DC Super Heroes of all time. The Man of Steel is the ultimate symbol of truth, justice, and hope. He is the world’s first Super Hero and a guiding light to all.
                    <br><br>
                    Though his powers make him god-like next to his human compatriots, Superman's story is not one of greed or conquest. Instead, he strives to represent the inherent goodness of the human spirit, and the capacity of every living thing to do right by their neighbors.
                </p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

  <div class="row mt-4 sub-text-detail-character">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-4">Powers:</dt>
        <dd class="col-sm-8">Super strength, flight, invulnerability, super speed, heat vision, freeze breath, x-ray vision, superhuman hearing, healing factor</dd>
        <dt class="col-sm-4">First Appearance:</dt>
        <dd class="col-sm-8">ACTION COMICS #1 (1938)</dd>
        <dt class="col-sm-4">Alias/Alter Ego:</dt>
        <dd class="col-sm-8">Clark Kent, Kal-El</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-4">Base of Operations:</dt>
        <dd class="col-sm-8">Metropolis</dd>
        <dt class="col-sm-4">Occupation:</dt>
        <dd class="col-sm-8">Reporter</dd>
      </dl>
    </div>
  </div>
  <div class="container">
        <div class="justify-content-between align-items-center mb-3">
            <h2 class="heading mt-5 mb-5"> RELATED CHARACTERS</h2>
        </div>
        <div class="row gx-5" style="cursor: pointer;">
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name fs-4">ALAN SCOTT ALFRED PENNYWORTH</h4>
            </div>
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name fs-4">ALFRED Lu</h4>
            </div>
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name fs-4">ALFRED PENNYWORTH</h4>
            </div>
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name fs-4">ALFRED PENNYWORTH</h4>
            </div>
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name fs-4">ALFRED PENNYWORTH</h4>
            </div>
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name">ALFRED PENNYWORTH</h4>
            </div>
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name fs-4">ALFRED PENNYWORTH</h4>
            </div>
            <div class="col-6 col-md-2">
                <img src="~/images/alanscoot.jpg" class="img-fluid" alt="Alan Scott">
                <h4 class="title_name fs-4">ALFRED PENNYWORTH</h4>
            </div>
            <!-- Add more character items as needed -->
        </div>
    </div>
  <section id="galary">
        <div class=" container">
            <div class="justify-content-between align-items-center mb-3">
                <h2 class="heading mt-5 mb-5"> CAPTAN BOOMERANG GALLERY</h2>
            </div>
        </div>        
        <div class="carousel slide"
             id="carouselDemo"
             data-bs-wrap="true"
             data-bs-ride="carousel">
            <div class="carousel-inner" style="max-height:400px">

                <div class="carousel-item active" style="max-height: 400px;">
                    <img src="~/images/thumb-1920-1148436.jpg" class="w-100" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
                        <h2 class="display-5 fw-bold text-uppercase">Robin</h2>
                        <p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
                        <a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
                    </div>
                </div>

                <div class="carousel-item " style="max-height: 400px;">
                    <img src="~/images/Cassandra.jpg" class="w-100" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
                        <h2 class="display-5 fw-bold text-uppercase">Cassandra Cain</h2>
                        <p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
                        <a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
                    </div>
                </div>
                <div class="carousel-item " style="max-height: 400px;">
                    <img src="~/images/thumb-1920-1148436.jpg" class="w-100" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start">
                        <h2 class="display-5 fw-bold text-uppercase">Cassandra Cain</h2>
                        <p class="lead">Trained from birth as the ultimate killing machine, Cassandra Cain found a new life as the fourth Batgirl.</p>
                        <a href="#" class="btn btn-light rounded-pill fw-bold px-4 py-2">GET TO KNOW <span> CASS</span> </a>
                    </div>
                </div>


            </div>

            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselDemo"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselDemo"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </section>
    <div class="container"> <p style="font-style:italic; " class="fs-3 m-5">The information contained on this website is for general information purposes only and may not be accurate, complete, or up-to-date.</p></div>

</div>





